h1 { color: blue;

}
h3 {
    color:rgba(100, 102, 256, 0.5);
    font-size: x-large;
}
p {
    color: rgb(155, 19, 46);
    font-size: 24px;
    text-align: justify;

}
a,li,h6 {
    color: rgba(71, 200, 10, 0.32);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
th {
    color: darkblue;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
td {
    color: rgb(0, 139, 42);
}
img {
    width: 120px;
    height: 120px;
    padding: 5px;
    background-color:rgba(100, 102, 256, 0.5);
    margin: 20px;
    box-shadow: black;
}
.img-div{
    background-color: burlywood;
}
.ligth{
    background-color: cadetblue;
}